<nav class="breadcrumb mt-2">
  <a class="breadcrumb-item" routerLink="/lugares">Lugares</a>
  <a class="breadcrumb-item">Crear</a>
</nav>

<!-- TODO: This is awful, add design to this -->

<div class="container">
  <label for="nombre">Nombre</label>
  <input type="text" name="nombre" id="nombre" class="form-control" [(ngModel)]="lugar.nombre">

  <label for="distancia">Distancia</label>
  <input type="number" name="distancia" id="distancia" class="form-control" [(ngModel)]="lugar.distancia">

  <label for="cercania">Cercanía</label>
  <input type="number" name="cercania" id="cercania" class="form-control" [(ngModel)]="lugar.cercania">

  <label for="descripcion">Descripción</label>
  <textarea name="descripcion" id="descripcion" cols="30" rows="10" class="form-control" [(ngModel)]="lugar.descripcion"></textarea>

  <label for="plan">Plan</label>
  <input type="text" name="plan" id="plan" class="form-control" [(ngModel)]="lugar.plan">

  <label for="calleynumero">Calle y número</label>
  <input type="text" name="calleynumero" id="calleynumero" class="form-control" [(ngModel)]="lugar.calleynumero">

  <label for="ciudad">Ciudad</label>
  <input type="text" name="ciudad" id="ciudad" class="form-control" [(ngModel)]="lugar.ciudad">

  <label for="pais">País</label>
  <input type="text" name="pais" id="pais" class="form-control" [(ngModel)]="lugar.pais">

  <hr>
  <a class="btn btn-primary mr-2" tabindex="-1" role="button" aria-disabled="true" (click)="guardarLugar()">Enviar</a>
  <a routerLink="/lugares" class="btn btn-danger" tabindex="-1" role="button" aria-disabled="true">Cancelar</a>
</div>
